# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vscode
/.vscode

# dev
/certs

# docs
/docs/.vitepress/cache
/docs/.vitepress/dist
/public/docs

# dependencies
/node_modules
/.pnp
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/*
!.yarn/releases

# testing
/coverage

# production
/build

# Environment Variables
.DS_Store
.env*
